venv/
__pycache__/
config/.env
config/gsheets_authentication.json
*.pyc
.ipynb_checkpoints/
.idea/
data/
.venv
!data/bank_statements/
!data/bank_statements/american express/
!data/bank_statements/bank of america/
!data/bank_statements/american express/sample_statement.csv
!data/bank_statements/bank of america/sample_statement.csv
.coverage
htmlcov/
coverage_report.txt
*.cover
.pytest_cache/
